.bckImgContact{
      
    background-image: linear-gradient(rgba(34, 34, 59, 0.9), rgba(34, 34, 59, 0.5)), url('../assets/photos/contact.jpg');
    background-repeat: no-repeat;
    background-size: 'cover';
    opacity: 4; 
}

.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(85, 177, 252, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(85, 177, 252, 0.7) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(85, 177, 252, 0.7) 100%);
}

.card {
  background-color: rgba(249, 252, 255, 0.6);
  display: block;
}

.md-form label {
  color: #ffffff;
}

.pdTopForm{
  padding: 70px;
}

.pdbot{
  padding-bottom: 50px;
}

.links a{
  padding: 10px;
}